@model Blob

<form method="post" asp-action="AddFile" asp-controller="Blob" enctype="multipart/form-data">
    <h3> Container Name - @Context.Request.Query["containerName"].ToString()</h3>
    <input hidden name="containerName" value="@Context.Request.Query["containerName"].ToString()" />
    <div class="mb-3 col-md-6">
        <label for="formFile" class="form-label">Add Item to Blob :</label>
        <input class="form-control" type="file" name="file" >
    </div>
    <div class="mb-3 col-md-6">
        <label for="title" class="form-label">Title : </label>
        <input asp-for="Title" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-md-6 mb-3">
        <label for="commentTextarea" class="form-label">Comments : </label>
        <textarea asp-for="Comment" class="form-control" placeholder="Leave a comment here" id="commentTextarea"></textarea>   
    </div>

    <div class="form-group col-3">
        <button type="submit" class="btn btn-success form-control">Add</button>
    </div>
</form>